/* CSS Document */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(29,30,34,255);
}

.header-image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter:brightness(0.5);
}
.container{
    position: absolute;
    right: 32px;
    left: 32px;
    top: 32px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-link{
    color: white;
    text-decoration: none;
    margin-left: 64px;
}
.menu-link:hover{
    text-decoration: underline;
    text-shadow: 5px 3px rgba(255, 255, 255, 0,5);
    color: rgba(118, 118, 228);

}
.headline{
    position: absolute;
    left: 50px;
    top: 400px;
    color: white;
    font-size: 70px;
    width: 1200px;
    text-shadow: 5px 3px rgba(0, 0, 0, 0.5);
}
.blue{
    color: rgb(118, 118, 228);
}
.description1{
    height: 500px;
    padding: 30px 100px;
    display: flex;
}
h2{
    text-align: center;
    font-size: 45px;
    color:  rgb(118, 118, 228);
    text-shadow: 5px 3px rgba(0, 0, 0, 0.25);
}
.ubermich{
    color: white;
    font-size: 28px;
    right: 32px;
    left: 32px;
    display: flex;
    text-align: center;
    position: absolute;
    justify-content: center;
    width: 500px;
}
.description2{
    height: 500px;
    padding: 30px 100px;
    display: flex;
}

.leistungen{
    color: white;
    font-size: 28px;
    right: 32px;
    left: 32px;
    display: flex;
    text-align: center;
    position: absolute;
    justify-content: center;
}